@inject IJSRuntime JS

<button class="@Class" type="button" @onclick="ActionHandler">
    @if (Icon is not null)
    {
        <i class="me-1" data-feather="@Icon"></i>
    }
    @Label
</button>

@code {
    [Parameter] public string? Label { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter] public string? Icon { get; set; }
    [Parameter] public EventCallback Action { get; set; }

    private async Task ActionHandler()
    {
        // You can add custom logic here before raising the event
        await Action.InvokeAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Activate feather
            await JS.InvokeVoidAsync("feather.replace");
        }
    }
}
