<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
    <div class="container-fluid px-4">
        <div class="page-header-content">
            <div class="row align-items-center justify-content-between pt-3">
                <div class="col-auto mb-3">
                    <h1 class="page-header-title">
                        <div class="page-header-icon"><i data-feather="@Icon"></i></div>
                        @Title
                    </h1>
                </div>
                <div class="col-12 col-xl-auto mb-3">
                    @ChildContent
                </div>
            </div>
        </div>
    </div>
</header>

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Icon { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
