@*Success Toast*@
<div class="position-absolute top-0 end-0" style="margin:0.5rem; margin-top: 6rem">
    <div class="toast" id="successToast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
        <div class="toast-header text-success">
            <i data-feather="check-circle" class="me-2"></i>
            <strong class="me-auto">Success!</strong>
            <small class="text-muted ms-2">just now</small>
            <button class="ml-2 mb-1 btn-close" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body fw-600">
            <span class="toast-message">Default Message</span>
        </div>
    </div>
</div>

@*Error Toast*@
<div class="position-absolute top-0 end-0" style="margin:0.5rem; margin-top: 6rem">
    <div class="toast" id="errorToast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
        <div class="toast-header text-danger">
            <i data-feather="alert-octagon" class="me-2"></i>
            <strong class="me-auto">Error!</strong>
            <small class="text-muted ms-2">just now</small>
            <button class="ml-2 mb-1 btn-close" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body fw-600">
            <span class="toast-message">Default Message</span>
        </div>
    </div>
</div>

@*Info Toast*@
<div class="position-absolute top-0 end-0" style="margin:0.5rem; margin-top: 6rem">
    <div class="toast" id="infoToast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
        <div class="toast-header text-info">
            <i data-feather="info" class="me-2"></i>
            <strong class="me-auto">Info</strong>
            <small class="text-muted ms-2">just now</small>
            <button class="ml-2 mb-1 btn-close" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body fw-600">
            <span class="toast-message">Default Message</span>
        </div>
    </div>
</div>


@*Warning Toast*@
<div class="position-absolute top-0 end-0" style="margin:0.5rem; margin-top: 6rem">
    <div class="toast" id="warningToast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
        <div class="toast-header text-warning">
            <i data-feather="alert-triangle" class="me-2"></i>
            <strong class="me-auto">Warning!</strong>
            <small class="text-muted ms-2">just now</small>
            <button class="ml-2 mb-1 btn-close" type="button" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body fw-600">
            <span class="toast-message">Default Message</span>
        </div>
    </div>
</div>