@inherits LayoutComponentBase

<div class="nav-fixed">
    <TopNav />
    <div id="layoutSidenav">
        <NavMenu />
        <div id="layoutSidenav_content">
            <main>
                @Body
            </main>
            <Toast />
        </div>
    </div>
</div>