<div id="layoutSidenav_nav">
    <nav class="sidenav shadow-right sidenav-light">
        <div class="sidenav-menu">
            <div class="nav accordion" id="accordionSidenav">

                <div class="sidenav-menu-heading"></div>

                <div class="sidenav-menu-heading">Main</div>

                <NavLink class="nav-link" href="/">
                    <div class="nav-link-icon"><i data-feather="cloud"></i></div>
                    Weather Forecast
                </NavLink>

@*                 <NavLink class="nav-link" href="/About">
                    <div class="nav-link-icon"><i data-feather="info"></i></div>
                    About
                </NavLink> *@
            </div>
        </div>
    </nav>
</div>